name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        working-directory: ./client
        run: |
          sudo apt-get update && sudo apt-get install -y curl
          curl -sL https://deb.nodesource.com/setup_${{ matrix.node-version }} | sudo -E bash -
          sudo apt-get install -y nodejs
          node --version
          npm --version
      - run: npm ci
        working-directory: ./client
      - run: npm run build --if-present
        working-directory: ./client
      - name: Run tests in client folder
        working-directory: ./client
        run: npm test --if-present
          working-directory: ./client
